<div class="config-settings">
    <h2>Assignment</h2>
    <div class="country">Country : {{ country }} </div>
    <div class="city">City : {{ city }} </div>
    <div class="date-time">Date & Time : {{ date_time }} </div>
</div>